

body{
    background-color: gray;
}
#gethome {
    padding-top: 80px;
    height: 600px;
  }
  .welcomehome h2{
     text-align: center;
    font-size: 2.3em;
    padding-top: 20px;
  
  }
  
  .welcomehome p{
    padding-top: 20px; 
  
  }
  
  .welcomehome i{
    text-align: center;
  }
  
  .home-container {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
  
  .home-service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    max-width: 1200px; 
    width: 100%; 
    margin: 20px auto 0 auto; 
    padding-top: 60px; 
  }
  
  .our-services {
    width: 24%; 
    box-sizing: border-box;
    margin: 0.5%; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.637);
  }
  
  .our-services img {
    width: 100%;
    height: 150px; 
    object-fit: cover; 
  }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  h2{
    text-align: center;
  }